@model EzyBills.Models.Bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Total_Bill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Bill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOfPurchase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfPurchase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BillVendorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillVendorID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BillID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
